/* Add a custom font family here */
body {
    font-family: 'Shantell Sans', sans-serif; /* Replace 'YourFontName' with the actual font name */
    padding: 20px;
    font-size: 20px;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

.row {
    display: flex;
    justify-content: space-between; /* To evenly distribute the columns */
}

.column {
    flex: 1; /* Allow columns to grow equally */
    margin: 10px; /* Add margin for spacing */
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
 
.dropdown-container > div {
    display: inline-block;
    margin-right: 20px;
}

/* Style to add some spacing between the labels and dropdowns */
.dropdown-container select {
    margin-top: 5px;
}

/* Style for rounded buttons with white background */
.rounded-button {
    display: inline-block;
    height: 35px;
    border: none;
    border: 2px solid black; /* Add a black border */
    border-radius: 20px; /* Adjust the value to control the roundness */
    background-color: white;
    color: #333; /* Text color */
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease; /* Add a smooth transition for hover effect */
}

    /* Hover effect to change background color */
    .rounded-button:hover {
        background-color: orangered; /* Change to a slightly different color on hover */
    }



